<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="주형" value="주형" />
      <add key="범준" value="범준" />
      <add key="현호" value="현호" />
      <add key="상현" value="상현" />
      <add key="영식" value="영식" />
    </appSettings>
  <connectionStrings>
    <add name="NX_RULLETTE" connectionString="Server=localhost; Uid=sa; Pwd=1234; Database=master"/>
  </connectionStrings>
</configuration>